
// Body
$body-bg: #111;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #FFDF2B;
$brand-info: #01BAEF;
$brand-success: #2AFC98;
$brand-warning: #F86624;
$brand-danger: #FF4242;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #FFF;

// Navbar
$navbar-default-bg: lighten($body-bg, 20%);
$navbar-default-link-color: $brand-primary;

// Buttons
$btn-default-color: $text-color;
$btn-primary-color: #111;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: lighten($body-bg, 20%);
$panel-default-text: $brand-primary;
$panel-bg: lighten($body-bg, 10%);
